/* +++ Farben +++ */
/* 
Hellgrau:       #e8e7e7
Dunkelgrau:     #5c5c5c
Helllila:       #8a85ca
Rot:            #A62C21
*/



body{
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

/* +++ NAVIGATIONSLEISTE +++*/

.header-nav {
    width: 100%;
    height: 50px;
    background-color: #5c5c5c;
    position: relative;
    font-weight: bold;
    font-size: 1.1rem;
}

.header-nav > a > img {
    height: 30px;
    width: auto;
    position: absolute;
    left: 2rem;
    top: .55rem;
}

.header-nav > ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2rem;
    height: 100%;
}

.header-nav > ul > li {
    display: inline-block;
    height: 100%;
    padding: 0 .4rem 0 .4rem;
}

.header-nav > ul > li > a {
    margin-top: .85rem;
    display: inline-block;
}

.header-nav > ul > li > a:link {
    color: white;
    text-decoration: none;
}

.header-nav > ul > li > a:hover {
    color: #E5E5E5;
    text-decoration: none;
}

.header-nav > ul > li > a:active {
    color: #E5E5E5;
    text-decoration: none;
}

.header-nav > ul > li > a:visited {
    color: white;
    text-decoration: none;
}

.active {
    background-color: #8a85ca;
}




/*=== HEADER-BANNER ===*/

.wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 200px;
    padding-right: 300px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 170px;
    margin-top: 30px; /* Added margin for better spacing */
}
.tisch {
    width: 220px;
    height: 150px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.tisch:hover {
    background-color: #bbb;
}
.tisch.selected {
    background-color: #4caf50;
    color: white;
}


.boxleft {
    display: block;
    position: fixed;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    width: 26vw;
    background-color: #e8e7e7;
    box-shadow:  0 0 18px 0 #878787;
}


.Reservierungsüberschrift {
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 50px;
    margin-left: 50px;
    color: #373737;
}

.formular {
    padding-left: 50px;
}